@font-face {
  font-family: collegeFont;
  src: url("fonts/college.ttf") format("truetype");
}
@font-face {
  font-family: cartoonQueen;
  src: url("fonts/Cartoon\ Queen.ttf") format("truetype");
}

#timer {
  position: absolute;
  top: -8px;
  right: 0;
  margin-right: 20px;
  font-size: 35px;
  font-variant: small-caps;
  font-family: collegeFont;
}

body {
  background-color: rgb(67, 127, 184);
}

#home h1 {
  color: darkblue;
  text-align: center;
  font-family: cartoonQueen;
  font-size: 50px;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

#home p {
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 25%;
  text-align: center;
  font-family: monospace;
  font-weight: lighter;
}

#startBtn {
  background-color: gold;
  color: white;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  position: absolute;
  padding: 15px 32px;
  font-size: 25px;
  border-radius: 15%;
  left: 47%;
}

.ansBtn {
  display: block;
  margin-top: 4px;
  background-color: lightskyblue;
  font-family: collegeFont;
  font-size: 18px;
}

.correct {
  background-color: chartreuse;
  color: white;
}

.incorrect {
  background-color: crimson;
  color: black;
}

.subBtn {
  background-color: blue;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 16px;
}
